.formAddContact{
    display: grid;
    grid-template-columns:1fr 300px 1fr;
   grid-template-rows: 30px 30px 50px;
   align-items: center;

}

.formInputTitle{
    grid-column-start: 2;
    
    font-family: 'Raleway',sans-serif;
    font-weight: 400;
    font-size: 14px;

    color: #093028;
}

.formInput{
    
    outline: none;
    border: 1px solid #43c6ac;
    border-radius: 2px;

    margin-left: 14px;
}

.addBtn{
    grid-area: 3/2;
    width: 100px;
    height: 30px;
    align-self: center;
    justify-self: center;

    font-family:  'Arima', cursive;
    font-weight: 500;
    
        

    background: linear-gradient(to right, #43c6ac, #f8ffae);
    background-color: transparent;
    border: none;
    border-radius: 2px;
    color:#093028;
    transition: background-color 250ms ease-in-out, color 250ms;
    cursor: pointer;

}

.addBtn:hover {
    background: none;
    background-color: #43c6ac;
    color: #f8ffae;
    box-shadow: 0 0 20px 0.5px #f8ffae;
}

